<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'yoga/js/rem.js' %}"></script>
    <script src="{% static 'yoga/js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'yoga/css/pisition.css' %}">

    <title>Document</title>
</head>
<style type="text/css">


</style>
<body>
    <header>
        <div class="back">
            <a href="/order"><img src="{% static 'yoga/img/back.png' %}" alt=""></a>
        </div>
        <input type="text" placeholder="请输入当前位置">
        <div class="cancel"><a href="/order">确定</a></div>
    </header>
    <main>
        <div class="current">当前位置&nbsp;&nbsp;<span>太原市小店区</span></div>
        <div class="position">
            <ul>
                <li>太原市娄烦县</li>
                <li>太原市晋源区</li>
                <li>太原市尖草坪区</li>
                <li>太原市杏花岭区</li>
                <li>太原市阳曲县</li>
                <li>太原市迎泽区</li>
                <li>太原市清徐县</li>
                <li>太原市古交市</li>
            </ul>
        </div>
    </main>
</body>
<script>
$(function(){
    $('.position li').hover(function(){
        $(this).addClass('hover')
    },function(){
        $(this).removeClass('hover')
    })
    $('.position li').click(function(){
        let place = $(this).text();
        console.log(place)
        $('.current span').text($(this).text())
        $('header input').val($(this).text())


    })
    $('.cancel').click(function(){
         let place = $('header input').val()
         console.log(place)
         $.ajax({
            url:'/order/',
            type:'post',
            data:{
                place:place
            },

        })
    })
})
</script>

</html>