<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'xing/css/xing-yyddxq.css'%}">
    <script src="{% static 'xing/js/jQuery.js'%}"></script>
    <script src="{%static 'xing/js/rem(1).js'%}"></script>
    <title>订单详情</title>
</head>
<body>
    <header></header>
    <div id="backar">
        <a href=""><img src="{%static 'xing/img/xing-back.png'%}" alt="" id="back"></a>
    </div>
    <div id="ddxq">订单详情</div>
    <a href="yyxq">
        <div id="w_xq">
            <div id="xqq">{{ dd.name.username }}</div>
            <div id="xxxx">
                <img src="{%static 'xing/img/xqtu.png'%}" alt="" id="xqtu">
                <div id="you_xqing">
                    <div id="you_xqing1">有限时间：<span id="shijian">{{ dd.riqi }}</span></div>
                    <div id="you_xqing1" style="letter-spacing: 0.22rem;">下午：<span id="shijian">{{ dd.shijianduan }}</span><div id="didian">{{ i.didian }}</div></div>
                    <div id="you_xqing1">已选：<span id="">{{ dd.chance }}</span>场次</div>
                </div>
            </div>
            <div id="zongjia">总计：<span id="zongnum">{{ dd.price }}</span>元</div>
        </div>
    </a>
    <!--进入付款-->
    <a href="{% url 'yujiaxm:period' id=dd.id %}">
        <button id="queren">确认订单</button>
    </a> 
</body>
</html>