<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'xing/css/xing-duihua.css'%}">
    <script src="{% static 'xing/js/jQuery.js'%}"></script>
    <script src="{%static 'xing/js/rem(1).js'%}"></script>
    <title>聊天页面(1)</title>
</head>
<body>
    <header></header>
    <div id="backar">
        <a href=""><img src="{% static 'xing/img/xing-back.png'%}" alt="" id="back"></a>
    </div>
    <div id="ddxq">瑜伽教练</div>
    <div id="liaobufen">
        <div id="l1">
            <img src="{% static 'xing/img/xiaobaikuag.png'%}" alt="" id="liaotiao1">
            <span id=l1_w>你好！瑜伽服在哪购买？</span>
            <img src="{% static 'xing/img/ludian.png'%}" alt="" id="g1">
            <span id="shisjian1">12:30&nbsp;AM</span>
        </div>
        <div id="l2">
            <img src="{% static 'xing/img/laughw.png'%}" alt="" id="liaotiao2">
            <img src="{% static 'xing/img/luagh.png'%}" alt="" id="lau1">
            <img src="{% static 'xing/img/luagh.png'%}" alt="" id="lau2">
            <img src="{% static 'xing/img/reddian.png'%}" alt="" id="g1">
            <span id="shisjian1">12:32&nbsp;AM</span>
        </div>
        <div id="l3">
            <img src="{% static 'xing/img/touxian.png'%}" alt="" id="liaotiao3">
            <img src="{% static 'xing/img/xuyao.png'%}" alt="" id="liaotiao4">
            <span id=l3_w>您好！您需要那种呢？</span>
            <img src="{% static 'xing/img/reddian.png'%}" alt="" id="g3">
            <span id="shisjian3">12:45&nbsp;AM</span>
        </div>
        <div id="l4">
            <img src="{% static 'xing/img/yuyin_03.png'%}" alt="" id="liaotiao5">
            <img src="{% static 'xing/img/yuyinkuang.png'%}" alt="" id="liaotiao6">
            <span id=l4_w>48″</span>
            <img src="{% static 'xing/img/ludian.png'%}" alt="" id="g1">
            <span id="shisjian1">2:73&nbsp;PM</span>
         </div>
         <div id="l5">
            <img src="{% static 'xing/img/touxian.png'%}" alt="" id="liaotiao3">
            <img src="{% static 'xing/img/lianjie.png'%}" alt="" id="liaotiao7">
            <span id=l5_w>http//:www.tianmao.com.list</span>
            <img src="{% static 'xing/img/reddian.png'%}" alt="" id="g3">
            <span id="shisjian3">2:56&nbsp;PM</span>
        </div>
        <div id="l6">
            <img src="{% static 'xing/img/tupian.png'%}" alt="" id="yundongbeixin">
            <img src="{% static 'xing/img/sanqiu.png'%}" alt=""
            id="sanqiu">
        </div>
    </div>
    <footer id="fot">
        <a href="">
            <img src="{% static 'xing/img/fujijian.png'%}" alt="" id="fujijian">
        </a> 
        <input type="text" id="shuru">
        <a href="">
            <img src="{% static 'xing/img/yuyinjian.png'%}" alt=""
            id="yuyinjian">
        </a>
    </footer>
</body>
</html>