<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% load static %}
	<script src="{% static 'hq/js/rem.js' %}"></script>
	<link rel="stylesheet" href="{% static 'hq/css/history.css' %}">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_995864_bg03uvzb0gh.css">
	<title>Document</title>
</head>
<body>
	<header>
	<i class="iconfont icon-zhixiangzuozuojiantou" style="color: #19CDF4;font-size: 20px;float: left;margin-left: 0.41rem;"><div class="border"></div></i>
	</header>
	<h1>历史搜索</h1>
	<div class="search"><i class="iconfont icon-search-1-copy"></i>
		<input type="text" placeholder="搜索">
		<i class="iconfont icon-error"></i>
	</div>
	<div class="num">
		<div class="yuan"></div>
		<span>禅&nbsp瑜伽馆</span>
		<h5>8.29</h5>
	</div>
	<div class="num">
		<div class="yuan"></div>
		<span>禅&nbsp瑜伽馆</span>
		<h5>8.29</h5>
	</div>
	<div class="num">
		<div class="yuan"></div>
		<span>禅&nbsp瑜伽馆</span>
		<h5>8.29</h5>
	</div>
</body>
</html>