<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	{% load static %}
	<script src="{% static 'hq/js/rem.js' %}"></script>
	<script src="{% static 'hq/js/jQuery.js' %}"></script>
	<link rel="stylesheet" href="{% static 'hq/css/index.css' %}">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_995864_mbnu0lhl99.css">
	<link rel="stylesheet" href="{% static 'hq/css/swiper.css' %}">
	<script src="{% static 'hq/js/swiper.js' %}"></script>
</head>
<body>
	<header>
		<div class="header">
			<img src="{% static 'hq/img/图层25@3x.png' %}" alt="">
			<img src="{% static 'hq/img/Icon_Settings@3x.png' %}" alt="">
		</div>
	</header>
	<div class="middle" style="position: relative;">
		<span>Yogo</span>
		<div class="picture">
		<img src="{% static 'hq/img/形状2@3x.png' %}" alt="">
		<img src="{% static 'hq/img/形状2@3x.png' %}" alt="">
		<img src="{% static 'hq/img/形状2@3x.png' %}" alt="">
		<img src="{% static 'hq/img/形状2@3x.png' %}" alt="">
		<img src="{% static 'hq/img/形状2副本3@3x.png' %}" alt="">
		</div>
		<img src="{% static 'hq/img/880135754034861942@3x.png' %}" alt="" style="width: 1.72rem;height: 1.72rem;position: absolute;right: 0.87rem;bottom: 0">
	</div>
	<div class="figure">
		<div class="figure_first">
			<div class="figure_first_item"><h1>58</h1>
			<p>粉丝数量</p></div>
			
			<div class="figure_first_item"><h1>329</h1>
			<p>我的关注</p></div>

			<div class="figure_first_item"><h1>06</h1>
			<p>消息通知</p></div>
		</div>
	</div>
	<div class="data">
		<div class="data_first">
			<img src="{% static 'hq/img/圆角矩形40拷贝@3x.png' %}" alt="">
			<span>身体数据</span>
			<div class="data_first_right" style="display: flex;">
				<i class="iconfont icon-youjiantou" style="color: #54D4EB;"></i>
			</div>
		</div>

		<div class="data_first">
			<img src="{% static 'hq/img/Icon_Hearts@3x.png' %}" alt="">
			<span>我的场馆</span>
			<div class="data_first_right" style="display: flex;">2
			</div>
		</div>

		<div class="data_first">
			<img src="{% static 'hq/img/圆角矩形39@3x.png' %}" alt="">
			<span>我的钱包</span>
			<div class="data_first_right" style="display: flex;">
				<i class="iconfont icon-youjiantou" style="color: #54D4EB;"></i>
			</div>
		</div>

		<div class="data_first">
			<img src="{% static 'hq/img/圆角矩形42拷贝@3x.png' %}" alt="">
			<span>我的下载</span>
			<h2>360M</h2>
		</div>

		<div class="finally">
		<div class="finally_left"><h4>轻柔</h4>
			<span>瑜伽</span></div>
		<!-- <div class="finally_right">
			<div class="border"></div>
			<div class="border"></div>
			<div class="border" style="background-color:#CBF2F9;"></div>
			<div class="border"style="background-color:#CBF2F9;"></div>
			<div class="border"style="background-color:#CBF2F9;"></div>
		</div> -->
		</div>
			<div class="time">18:&nbsp&nbsp32&nbsp5.31&nbsp&nbsp2017</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
        	<div class="video">

				<video src="{% static 'hq/img/video.webm' %}" autoplay="autoplay" controls=""type="video/mp4" style="width: 6.39rem; height: 2.16rem">
				</video>
				<div class="finally_picture">
				<img src="{% static 'hq/img/Icon_Share@3x.png' %}" alt="">
				</div>
			</div>
        </div>
        <div class="swiper-slide">
        	<div class="video">

				<video src="{% static 'hq/img/video.webm' %}" autoplay="autoplay" controls=""type="video/mp4" style="width: 6.39rem; height: 2.16rem">
				</video>
				<div class="finally_picture">
				<img src="{% static 'hq/img/Icon_Share@3x.png' %}" alt="">
				</div>
			</div>
        </div>
        <div class="swiper-slide">
        	<div class="video">

				<video src="{% static 'hq/img/video.webm' %}" autoplay="autoplay" controls=""type="video/mp4" style="width: 6.39rem; height: 2.16rem">
				</video>
				<div class="finally_picture">
				<img src="{% static 'hq/img/Icon_Share@3x.png' %}" alt="">
				</div>
			</div>
        </div>
          <div class="swiper-slide">
        	<div class="video">

				<video src="{% static 'hq/img/video.webm' %}" autoplay="autoplay" controls=""type="video/mp4" style="width: 6.39rem; height: 2.16rem">
				</video>
				<div class="finally_picture">
				<img src="{% static 'hq/img/Icon_Share@3x.png' %}" alt="">
				</div>
			</div>
        </div>
         <div class="swiper-slide">
        	<div class="video">

				<video src="{% static 'hq/img/video.webm' %}" autoplay="autoplay" controls=""type="video/mp4" style="width: 6.39rem; height: 2.16rem">
				</video>
				<div class="finally_picture">
				<img src="{% static 'hq/img/Icon_Share@3x.png' %}" alt="">
				</div>
			</div>
        </div>

    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    
  
</div>
			
			

		<div class="data_first">
			<img src="{% static 'hq/img/图层27@3x.png' %}" alt="">
			<span>清理缓存</span>
		</div>
	</div>
	<footer>
		<div class="footer-top">
			<img src="{% static 'hq/img/1.png' %}" alt="">
			<img src="{% static 'hq/img/2.png' %}" alt="">
			<img src="{% static 'hq/img/3.png' %}" alt="">
			<img src="{% static 'hq/img/footer8.png' %}" alt="">
		</div>
		<div class="footer-bottom">
			<span class="span1">预约</span>
			<span class="span2">运动</span>
			<span class="span3">动态</span>
			<span class="span4">我的</span>
		</div>
	</footer>
	<!-- <footer>
		<div class="footer-top">
			<ul>
				<li>
					<a href="order.html">
						<img src="img/footer1.png" alt="">
						<p class="one">预约</p>
					</a>
				</li>>
				<li>
					<a href="category.html">
						<img src="img/footer6.png" alt="">
						<p>运动</p>
					</a>
				</li>>
				<li>
					<img src="img/footer7.png" alt="">
					<p>动态</p>
				</li>>
				<li>
					<img src="img/footer8.png" alt="">
					<p>我的</p>
				</li>>
			</ul>
		</div>
	</footer> -->
<script>        
  var mySwiper = new Swiper ('.swiper-container', {
  	 autoplayDisableOnInteraction:false,//等同于以下设置
  	 grabCursor: true,
    loop: true, // 循环模式选项
    
    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    
    // 如果需要滚动条
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  })        
  </script>
	
</body>
</html>
<script>
	 $(".footer-bottom span").click(function(){
	 	let index = $(this).index()
	 	$(".footer_bottom span").css("color","#BFBFBF")
		console.log($(".footer-bottom span").eq(index))
	 	$(this).css('color', '#8ACFEF')
    })
</script>

