*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    overflow-x: hidden;
    overflow-y: auto;
}
header{
    height: .51rem;
}
#backar{
    height: 0.71rem;
    overflow: hidden;
    position: relative;
}
#back{
    margin-top: 0.22rem;
    margin-left: 0.38rem;
    position: absolute;
    width: 0.25rem;
    height: 0.2rem;
}
#ddxq{
    height: 1.29rem;
    margin-left: 0.21rem;
    font-size: .56rem;
    color: #666666;
    letter-spacing: 0.06rem;
}
#w_xq{
    width: 6.54rem;
    height: 3.8rem;
    background-color: #fff;
    margin-left: 0.24rem;
    position: relative;
    padding:.19rem .24rem;
    border-radius: 0.14rem;
}
#xqq{
    height: 0.96rem;;
    font-size: 0.3rem;
    color: #686868;
    letter-spacing: 0.03rem;
}
#xqtu{
    width: 1.75rem;
    height: 1.69rem;
    top: 0.96rem;
}
#xxxx{
    height: 1.69rem;
    display: flex;
    position: absolute;
    top: 0.96rem;
}
#you_xqing{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#you_xqing1{
    margin-left: 0.24rem;
    font-size: 0.24rem;
    color: #737373;
    display: flex;
}
#shijian{
    color: #79d7f2;
    letter-spacing: normal;
}
#didian{
    margin-left: 0.93rem;
    letter-spacing: normal;
}
#zongjia{
    font-size: 0.3rem;
    color: #737373;
    position: absolute;
    bottom: 0.3rem;
    right: 0.27rem;
}
#queren{
    width: 100%;
    height: 0.9rem;
    background-color: #76d6f1;
    color: #fff;
    font-size: 0.34rem;
    letter-spacing: 0.05rem;
    position: absolute;
    bottom: 0;
    border: none;
}
#l_erwexq{
    width: 6.54rem;
    height: 9.6rem;
    background-color: #fff;
    margin-left: 0.24rem;
    position: relative;
    padding:.19rem .24rem;
    border-radius: 0.14rem;
}
#you_xqing2{
    margin-left: 0.24rem;
    font-size: 0.24rem;
    color: #a3a3a3;
    display: flex;
    letter-spacing: 0.03rem;
}
#erwematu{
    position: absolute;
    left: 1.41rem;
    bottom: 1.3rem;
    width: 4.12rem;
    height: 4.15rem;
}
#w_xk{
    height: auto;
    width: 6.54rem;
    background-color: #fff;
    margin-left: 0.24rem;
    position: relative;
    padding:.19rem .24rem;
    border-radius: 0.14rem;
}
a{
    text-decoration: none;
}